.main_box{
	max-width: 1366px;
	margin: auto;
}
.header{
	width: 100%;
	background: #222;
	/*position: fixed;*/
	/*top: 0;*/
	z-index: 99;

}
.header .navbar{
	margin: 0;
	
}
.header .navbar-default{
	background-color: #222;
	border-color: #222;
	
}
.header .navbar-brand{
	padding: 7px;
	
}
.header .navbar-default .navbar-nav > li > a{
	color:#9b9b9b;
		
}
@media(max-width: 995px) and (min-width: 745px){
	.header .navbar-default .navbar-nav > li > a{
		padding: 15px 5px;
		font-size: 12px;	
	}
	
}
.header .navbar-default .navbar-nav > .active > a {
	background: #080808;
	color:#fff ;

}
.header .navbar-default .navbar-nav > li > a:hover{
	background: #080808;
	color:#fff ;
}





.Laya{
	width: 100%;
	padding: 30px 0 30px;
	background: #8bc01f;
}
.Laya1{
	width: 100%;
	background: #8bc01f;
}
.media{
	padding: 30px 20px 30px;
}
.media h1{
	font-size: 48px;
	color: #fff;
}
.media h3{
	color: #fff;
}

.pull-left {
	width: 50px;height: 50px;
	background: #fff;
	text-decoration: none;
	font-size: 48px;
	line-height: 50px;
	text-align: center;
	color: #8bc01f;
}

.media-body p{
	padding: 20px 0 ;
	color: #fff;
}
.media-body input{
	width: 100px;height: 50px;
	color: #8bc01f;
	font-size: 14px;
	border-radius: 10px;
}

@media(max-width: 500px){
	.pull-left {
		width: 30px;height: 30px;
		font-size: 24px;
		line-height: 30px;
	}
	.media h1{
		font-size: 24px;
	}
	.media h3{
		font-size: 16px;
	}
	.media-body p{
		padding: 25px 0 ;
		font-size:14px; 
	}
	.media-body input{
		width: 70px;height: 30px;
		font-size: 12px;
		border-radius: 10px;
	}
}

.Laya1{
	padding: 30px 0 30px;
	width: 100%;
	background: #3393df;
}
.Laya1 img{
	float: left;
}
.xxb{
	margin-top: 150px;
}
@media(max-width: 500px){
	.media-body p{
		padding: 25px 0 ;
		font-size:12px; 
	}
	.media-body input{
		width: 70px;height: 30px;
		font-size: 12px;
		border-radius: 10px;
	}
}





.Laya2{
	width: 100%;
	padding: 80px 0 80px;
}

.Laya2 .tpcenter{
	width: 100%;
	text-align: center;
}

.laya3{
	width: 40px;height: 40px;
	background: #3393df;
	text-decoration: none;
	font-size: 36px;
	line-height: 40px;
	text-align: center;
	color: #fff;
	float: left;
	margin-right: 10px;
}
.media-heading-air{
	font-size: 42px;
	color: #3393df;
	padding: 0;margin: 0;
}

.media-air .h4{
	color: #5d5d5d;
}
.media-air h4{
	color: #3393df;
}
.media-air h5{
	text-indent: 1cm;
	color: #5d5d5d;
}
.tpcenter-air{
	text-align: center;
	padding-bottom: 40px; 
	
}

@media(max-width: 500px){
	.laya3 {
		width: 30px;height: 30px;
		font-size: 24px;
		line-height: 30px;
	}
	.media-heading-air{
		font-size: 24px;
	}
	.media-air h4{
		font-size: 14px;
	}
	.media-air h5{
		/*padding: 25px 0 ;*/
		font-size:12px; 
	}
	.tpcenter-air{
	/*text-align: center;*/
	padding-bottom: 40px; 
	}
}



.laya4{
	padding: 80px 0 80px;
	background: #f7f7f7;
}




.footer{
	width: 100%;
	background: #3b3b3b;
	padding: 40px 0 40px;
}
.footer h6{
	color: #a1a3ab;
	font-size:14px; 
}
.footer a{
	color: #a1a3ab;
	font-size: 12px;
}

.tpfd {
	float:right; 
	padding:10px 5px 0; 
}